<h3>Twitter Clone</h3>
<div class="section">
    <p class="lead">twitter clone page 입니다. </p>
    </div>

    <div class="divider">
    </div>
      <form action="api/login" method="POST">
    <p>ID <input type="text" name="EMAIL"/></p>
    <p>PASSWORD <input type="PASSWORD" name="PASSWORD"/></p>
    <button type="submit">로그인</button>
</form>
<button type="button" onclick="location.href='api/signup'">회원가입 하기</button>
    <div class="section">
        <a href="/api/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Login with google
        </a>   
        