<form action="/api/signup" method="post">
<div class="container">
이메일
<input type="email" name="EMAIL">
비밀번호
<input type="PASSWORD" name="PASSWORD">
비밀번호 확인
<input type="PASSWORD" name="CONFIRM">
이름
<input type="text" name="FIRST_NAME">
성함
<input type="text" name="LAST_NAME">
<button type="submit">회원가입하기</button>
</div>

</form>
